body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: gray;
}
header {
  background-color: black;
  padding: 20px;
  color: white;
}
footer {
  background-color: black;
  padding: 20px;
  color: white;
  clear: both;
}
#icon {
  height: 40px;
  display: inline-block;
}
#title {
  font-size: 40px;
}
#branches {
  position: absolute;
  display: inline;
  right: 50px;
  top: 27px;
  text-decoration: none;
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
#cover {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  width: 80%;
  background-color: white;
  min-height: 600px;
  margin-top: 0;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
